---
layout: none
---

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reverso Filmes</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500&display=swap" rel="stylesheet" />

  {% include header.html %}
  
  {% include opengraph.html %}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
<!-- Include this snippet wherever you want to show the autoplaying video -->
<video 
  class="video-autoplay"
  autoplay 
  muted 
  playsinline 
  loop 
  preload="none" 
  poster="/assets/videos/reverso-demoreel-2024-thumbnail.png">
  <source src="{{ '/assets/videos/reverso-demoreel-2024-vertical.webm' | relative_url }}" type="video/webm">
  <source src="{{ '/assets/videos/reverso-demoreel-2024-vertical.m4v' | relative_url }}" type="video/mp4">
  Your browser does not support the video tag.
</video>

  </div>

<div class="corner-links">
  <a href="https://instagram.com/reversofilmes" class="corner-link bottom-right" target="_blank" rel="noopener">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a href="https://youtube.com/@reversofilmes" class="corner-link top-right" target="_blank" rel="noopener">
    <i class="fa-brands fa-youtube"></i>
  </a>
  <a href="https://wa.me/5531996005678" class="corner-link bottom-left" target="_blank" rel="noopener">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  <a href="/" class="corner-link top-left" target="_blank" rel="noopener">
    <img src="assets/images/logo/CABECA_CURUPIRA_RVRS_NEGATIVA_COR.png" alt="Reverso Filmes Logo" class="corner-logo" />
  </a>
</div>


  <script>
  document.addEventListener("DOMContentLoaded", () => {
    const videos = document.querySelectorAll(".video-autoplay");
    videos.forEach(video => {
      video.addEventListener("loadeddata", () => {
        video.classList.add("loaded");
      });
    });
  });
</script>

</body>
</html>
